# Database Operation

In [1]:
import sqlite3 as sql3

## Connect, Create DB and Create Table

In [14]:
conn = sql3.connect("RPSDBT.db")
cursor = conn.cursor()

cursor.execute(""" Create Table IF NOT EXISTS company (CompanyID INT PRIMARY KEY NOT NULL, CompanyName TEXT NOT NULL, 
                    IsActive INT, LastUpdate TIMESTAMP ) """)
conn.close()

In [16]:
conn = sql3.connect("RPSDBT.db")
cursor = conn.cursor()

cursor.execute(""" Create Table IF NOT EXISTS vacancy (VAId INT PRIMARY KEY NOT NULL, Department TEXT NOT NULL, JobTitel TEXT NOT NULL,
                    NoofVacancies INT NOT NULL, ApplyInstruction TEXT, JobPublicationDate TIMESTAMP NOT NULL,
                    AppDeadline TIMESTAMP NOT NULL, AgeRange INT, Gender TEXT, JobType TEXT, Joblevel TEXT, 
                    EducationQua TEXT NOT NULL, JobDiscription TEXT, AdditionalReq TEXT, ExperienceDuration INT, 
                    ExperienceDetails TEXT, SalaryRange TEXT, JobStatus TEXT, CompanyID INT, IsClosed INT, LastUpdate TIMESTAMP,
                    FOREIGN KEY(CompanyID) REFERENCES company(CompanyID)) """)
conn.close()

### INSERTING DATA IN DATABASE

In [26]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys=ON")
    cursor.execute(
        """INSERT INTO vacancy values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",(
            2, "IT Department", "Django Developer",2, "Check", "2022-05-07", "2022-05-31", 35, "Male","","",
            "BSc. In CSE", "Python With Django Developer","",5,"5 Years Experience in Python Programming", "40000-50000",
            "",2,0,"2022-05-07") 
        )

### DELETE OPERATION

In [20]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """DELETE FROM vacancy where VAID=2 """
        )

### UPDATE OPERATION

In [23]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """UPDATE vacancy SET ApplyInstruction='Minimum BSc. In CSE' where VAID=1 """
        )

In [25]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""
    INSERT INTO company values(?,?,?,?)""",
    (
        2,"Ad-din Pharma.",1,"2022-05-07"
    )
)

### FEATCHING DATA FROM DATABASE

In [30]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    restult=cursor.execute("""SELECT * FROM COMPANY""")
    print(list(restult))

[(1, 'Akij Biri Factory Ltd.', 1, '2022-05-07'), (2, 'Ad-din Pharma.', 1, '2022-05-07')]

In [33]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    restult=cursor.execute("""SELECT VaID, Department,JobTitel,ExperienceDuration  FROM vacancy""")
    print(list(restult))

[(1, 'IT Department', 'Django Developer', 5), (2, 'IT Department', 'Django Developer', 5)]

In [35]:
CompnayList = []

for id in range(3,20):
    company = (id, f"Company{id}", 1, "2022-05-07")
    CompnayList.append(company)

In [36]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.executemany("""
    INSERT INTO company values(?,?,?,?)""",
    (
        CompnayList
    )
)

In [41]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    restult=cursor.execute("""SELECT * FROM COMPANY""")
    print(list(restult))

[(1, 'Akij Biri Factory Ltd.', 1, '2022-05-07'), (2, 'Ad-din Pharma.', 1, '2022-05-07'), (3, 'Company3', 1, '2022-05-07'), (4, 'Company4', 1, '2022-05-07'), (5, 'Company5', 1, '2022-05-07'), (6, 'Company6', 1, '2022-05-07'), (7, 'Company7', 1, '2022-05-07'), (8, 'Company8', 1, '2022-05-07'), (9, 'Company9', 1, '2022-05-07'), (10, 'Company10', 1, '2022-05-07'), (11, 'Company11', 1, '2022-05-07'), (12, 'Company12', 1, '2022-05-07'), (13, 'Company13', 1, '2022-05-07'), (14, 'Company14', 1, '2022-05-07'), (15, 'Company15', 1, '2022-05-07'), (16, 'Company16', 1, '2022-05-07'), (17, 'Company17', 1, '2022-05-07'), (18, 'Company18', 1, '2022-05-07'), (19, 'Ad-din Hospital', 1, '2022-05-07')]

In [40]:
with sql3.connect('RPSDBT.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""Update Company set CompanyName='Ad-din Hospital' where CompanyID=19""")