# While Loop

In [ ]:
squres = []
start = 1
stop = 10
num=start
while num <= stop:
    if num%2==0:
        squres.append(num**2)
        
    else:
        squres.append(num**3)
    num = num+1
squres

# Break

In [ ]:
squres = []
start = 1
stop = 100
num=start
while num <= stop:
    s=num**2
    if s > 50:
        break        
    squres.append(num**2)
    num = num+1
squres

In [ ]:
squres = []
start = 1
stop = 100
num=start
while num <= stop:
    s=num**2
    num = num+1
    if s > 50:
        continue        
    squres.append(s)
squres

# For Loop

In [ ]:
for alpha in "Python":
    print(alpha)

In [ ]:
for num in [2,3,4,5,6,8,9,45]:
    print(num)

In [ ]:
for t in (5,6,86,2,4,3,8,56,6,5,8):
    print(t)

In [ ]:
for s in {5,6,86,2,4,3,8,56,6,5,8}:
    print(s)

In [ ]:
for key, value in {1:1, 2:4, 3:9, 4:16}.items():
    print(key, '=>', value)

In [ ]:
data = [
    [1,3,5,5],
    [5,6,7,8],
    [6,1,6,4],
]

for row in data:
    print(row)

In [ ]:
data = [
    [1,3,5,5],
    [5,6,7,8],
    [6,1,6,4],
]

for c1,c2,c3 in data:
    print(c1)
    print(c2)
    print(c3)

In [19]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [22]:
for num in range(1,10):
    print (num**2)

1
4
9
16
25
36
49
64
81

In [23]:
powers = []
for num in range(1,10):
    if num%2==0:
        powers.append(num**2)
    else:
        powers.append(num**3)
powers

[1, 4, 27, 16, 125, 36, 343, 64, 729]

# List Comprension

In [24]:
powerList = [num**2 if num%2==0 else num**3 for num in range(1,10)]
powerList

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [25]:
powerList = [num**2 + num**3 for num in range(1,10)]
powerList

[2, 12, 36, 80, 150, 252, 392, 576, 810]

In [30]:
mdata = [[col**2 for col in row] for row in data]
mdata

[[1, 9, 25, 25], [25, 36, 49, 64], [36, 1, 36, 16]]

In [32]:
powerTuple = tuple(num**2 if num%2==0 else num**3 for num in range(1,10))
powerTuple

(1, 4, 27, 16, 125, 36, 343, 64, 729)

In [33]:
powerSet = set(num**2 if num%2==0 else num**3 for num in range(1,10))
powerSet

{1, 4, 16, 27, 36, 64, 125, 343, 729}

In [34]:
powerD = {num : num**2 if num%2==0 else num**3 for num in range(1,10)}
powerD

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729}